/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html.style-lint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

#header{
  font-size: 2.25em;
  line-height: 2.5em;
  text-align: center;
}
.page{
  font-size: 1.175em;
  line-height: 1.2em;
  padding: 1em;
  font-family: 'Josefin Sans', sans-serif;
  background: center, no-repeat, url(images/deepdish.jpeg);
}
.content,#footer,#header,#form{
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .3);
  padding: 0.6em;
  margin:auto;
}
#footer p{
  font-size: 0.5em;
  text-align: center;
}
body{
}
@media (min-width: 60em){
  /*
  h1{
    color:red;
  }
  */
  .page{
  font-size: 1.675em;
  width: 70%;
  margin: auto;
  }
}
@media (max-width: 60em) and (min-width: 40em){
  /*This is code for testing the media query*/
  /*
  h1{
    color:blue;
  }
  */
  .name{
  padding: .86em;
  padding-top: 0;
  padding-bottom: 0;
  }
}
/*-----FORM CSS-----*/
#form fieldset{
  border: white solid 0.1em;
  width:15em;
  margin:auto;
}
#form p{
  margin:auto;
}
#form label, input, legend{
  display: block;
  text-align: center;
  padding:0.5em 0.5em 0.5em 0.5em;
  margin:auto;
  border-radius: .5em;
  color:white;
}
#form legend{
  font-size: 1.375em;
}

#name, #email{
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  border:0.05em solid rgba(255, 255, 255, 0.5);
  margin:auto;
  width:15em;
  text-align: center;
}
#submit_btn{
  border:0.05em solid white;
  padding-top: 0.7em;
  margin:0.5em auto;
  font-size: 1em;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  transition: .3s background;
  transition: .3s border;
  text-transform: uppercase;
}
#submit_btn:hover{
  border:0.05em solid rgba(255, 255, 255, 0.5);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
